<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__foto"></div>
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/004/511/281/small/default-avatar-photo-placeholder-profile-picture-vector.jpg"
        alt=""
        srcset=""
      >
    <div class="small-card__titulo">
      <h1><a href="#">Lorem ipsum dolor sit amet.</a></h1>
    </div>
    </div>
    <div class="container__small-card-separador">
      <hr/>
    </div>
</div>
